
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cinzel:wght@400..900&family=Croissant+One&family=Forum&family=Julius+Sans+One&family=Jura:wght@300..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pridi:wght@200;300;400;500;600;700&family=Red+Rose:wght@300..700&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f505; /* off-white */
  color: #021024; /* dark blue */
  line-height: 1.6;
}

/* Header */
header {
  background-color: #fff;
  color: #021024;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

#header-name {
  font-family: 'Cinzel Decorative', serif;
  color: #021024; /* dark blue */
  font-size: 3rem;
  letter-spacing: 0.8px;
  font-weight: 300;
}

/* Icons container */
.header-icons {
  color: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.bag-icon {
  gap: 1.5rem;
  font-size: 30px;
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

.bag-icon:hover {
 transform: scale(1.1);
 cursor: pointer;
}

.bag-icon .bag-item-count {
  position: absolute;
  top: 10px;
  right: 33px;
  width: 20px;
  height: 20px;
  background: #c8d9e6;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center; 
  visibility: hidden;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

/* The search input (initially hidden) */
.search-input {
  width: 0;
  opacity: 0;
  padding: 6px 12px;
  border: 1px solid #021024;
  border-radius: 20px;
  font-size: 14px;
  transform: translateX(30px);
  transition: 
    width 0.4s ease,
    opacity 0.3s ease,
    transform 0.4s ease;
}

.search-icon {
  font-size: 30px;
  color: inherit;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.search-container.active .search-input {
  width: 500px;
  opacity: 1;
  transform: translateX(0);
  margin-right: 8px;
}

/* Optional hover animation on icon */
.search-icon:hover {
  transform: scale(1.1);
}

header h1 {
  font-family: 'Julius Sans One', sans-serif;
  color: #f5efeb; /* off-white */
  font-size: 1.8rem;
  letter-spacing: 2px;
}

.bag {
  position: fixed;
  top: 0;
  right: -100%; /* Hidden by default */
  width: 360px;
  height: 100%;
  background: #FFF;
  color: #021024;
  box-shadow: -2px 0 10px rgba(0,0,0,0.1);
  padding: 65px 20px 40px;
  z-index: 100;
  overflow: auto;
  font-family: 'Bodoni Moda', serif;
  transition: 0.5s;
  overflow-y: auto;   /* still scrollable */
  scrollbar-width: none; /* Firefox */
}

.bag::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}

.bag.active {
  right: 0;
}

.bag-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Bodoni Moda SC', serif;
  letter-spacing: 1.2px;
}

.bag-box {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.bag-box img {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  object-fit: cover;
  margin-right: 20px;
}

.bag-detail {
  display: grid;
  gap: 8px;
  margin-right: auto;
}

.bag-product-name {
  font-size: 16px;
  line-height: 1.2;
  font-family: 'Jura', sans-serif;
  font-weight: 300;
}

.bag-price {
  font-weight: 500;
}

.bag-quantity {
  display: flex;
  width: 100px;
  border: 1px solid #999;
  border-radius: 6px;
}

.bag-quantity button {
  background: transparent;
  width: 30px;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.bag-quantity #decrement {
  color: #f5efeb;
  background: #2f4156;
}

.bag-quantity #increment {
  color: #f5efeb;
  background: #2f4156;
  
}
.bag-quantity .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  cursor: default;
}

.remove-item {
  font-size: 25px;
  cursor: pointer;
}

.remove-item:hover { 
  color: maroon;
}

.total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #2f4156;
  margin-top: 20px;
  font-size: 18px;
  color: black;
}

.total-price {
  margin-left: 10px;
  font-weight: 600;
}

.btn-buy {
  display: block;
  padding: 10px 30px;
  background: #2f4156;
  border: none;
  border-radius: 10px;
  color: #f5efeb;
  font-size: 20px;
  font-weight: bold;
  margin: 20px auto 0;
  cursor: pointer;

}

.btn-buy:hover {
  transform: scale(1.05);
  background-color: black;
}

.bag-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 35px;
  cursor: pointer;
}

/* Hero Section */
.hero {
  background: rgba(255, 255, 255, 0.05)
              url('https://i.postimg.cc/RhVD903V/LANDING.png') no-repeat center center/cover; 
  background-blend-mode: lighten;            
  padding: 6rem 2rem;
  text-align: bottom;
  height: fit-content;
}

.hero h2 {
  font-size: 4rem;
  color: #021024; 
  font-family: 'Bodoni Moda SC', cursive;
  font-weight: 400;
}

.hero span {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  width: 30%;
  font-size: 2rem;
  font-family: 'Merriweather', sans-serif;
  color: #021024;
  margin-top: 0.5rem;
  font-weight: 300;
}

.hero p {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-top: 4.5rem;
  font-size: 2rem;
  font-family: 'Julius Sans One', sans-serif;
  color: #021024;
  font-weight: 800;
}

/* Collection Sections */
.collection {
  padding: 4rem 2rem;
}

.collection h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #f43f5e;
  padding-left: 1rem;
}

.product-section {
  margin-bottom: 40px;
}

.product-section .section-title {
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: 20px;
  border-left: 8px solid #2f4156;
  padding-left: 10px;
  color: #111827;
  text-align: left;
  font-family: 'Bodoni Moda SC', serif;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit; /* makes it use the same text color as parent/heading */
}


a:link,      /* normal link */
a:visited,   /* after being clicked */
a:hover,     /* when hovering */
a:active {  
  text-decoration: none; /* keeps your heading color */
}

.product-row {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 10px;
}

.product-row::-webkit-scrollbar {
  display: none; /* Hide scrollbar for a cleaner look */
}

.product-card {
  width: 350px;
  height: 425px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.035);
  color: white;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
  transform: translateY(-5px);
}


.product-info {
  background: rgba(255, 255, 255, 0.92);
  padding: 3px;
  text-align: left;
  height: fit-content;
}
.product-info .product-name {
  font-family: 'Jura', sans-serif;
  font-weight: 700;
  color: #2f4156;
  margin-left: 5px;
  font-size: 1.2rem;
}

.product-info .product-price,
.product-info .product-size {
  font-family: 'Forum', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 5px;
  color: #2f4156;
}

/* Button styling */
.add-bag {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: transparent;
  border-radius: 6px;
  font-size: 2rem;
  color: #2f4156;
  cursor: pointer;
}

.add-bag:hover {
  cursor: pointer;
}

.product-card:hover .add-bag {
  transform: scale(1.12)
}


.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 8px;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden-img {
  display: none;
}


.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 per row on desktop */
  gap: 20px;
}

/* Responsive adjustments for mobile phones */
@media (max-width: 600px) {
  header {
    overflow-x: hidden; 
    align-items: flex-start;
    padding: 1rem;
  }

  header h1 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    width: 100%;
  }

  .hero {
    padding: 3rem 1rem;
    height: auto;
    min-height: 60vh;
    background-position: center top;
  }

  .hero h2 {
    font-size: 1.5rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .collection {
    padding: 2rem 1rem;
  }

  .product-card {
    width: 100%;
    height: 320px;
    margin: 8px 0;
  }

  .product-card img {
    height: 120px;
  }
} 

.footer {
    height: 100%;
    width: 100%;
    color: white;
    background: #021024;
}

footer img {
    width: 150px;
    height: 150px;
    margin-bottom: 0.8rem;
    border-radius: 50%;
}

.footer-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5rem;
    padding: 4rem;
}

.footer-section h2 {
    font-weight: 900;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.footer-section ul {
    list-style: none;
    font-family: 'Roboto',  sans-serif;
    font-size: 1.2rem;
}

.footer-section li {
    margin: 0.8rem 0;
}

.footer-name h1 {
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
    font-family: 'Cinzel', serif;
    font-weight: 200;
}

.footer-name p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 1.1rem;
}

.social-icons ul {
    list-style: none;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8rem;
}

.social-icons li:hover {
    cursor: pointer;
}

.copyright {
  text-align: center;
  background: inherit;
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif;
  border-top: 1px solid #f5f5f58c;
  margin: 1rem 4rem 0 4rem;
  padding-bottom: 5px;
}

#copy {
  margin: 1rem 0 1rem 0;
}

